footer {
  text-align: center;
  background-color: #243D25;
  height: 250px;
  width: 100%;
  color: black;
  padding-top: 20px;
  position: fixed;
  bottom: 0px;
}
.footer-menu {
  list-style: none;
}
