<footer class="mt-4 shadow-lg">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h6 class="font-weight-bold text-muted">Follow us on:</h6>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste similique modi
          alias quam nobis
          labore
          laudantium ullam, ab nesciunt!</p>
      </div>
      <div class="col-4">
        <h6 class="font-weight-bold text-muted">Contact Us</h6>
        <p>
          <i class="fa fa-phone text-muted" aria-hidden="true">
            +263 774 096 098<br>
            +263 675389007
          </i>
        </p>
        <p>
          <i class="fa fa-envelope text-muted" aria-hidden="true">
            contact@example.com<br>
            office@example.com
          </i>
        </p>
        <p>
          <i class="fa fa-map-marker text-muted" aria-hidden="true">
            67 Lambogini Drive
          </i>
        </p>
      </div>
      <div class="col-4">
        <h6 class="font-weight-bold text-muted">Menu</h6>
        <ul class="text-muted footer-menu">
          <li><a href=""></a>Home</li>
          <li><a href=""></a>Sermons</li>
          <li> <a href=""></a>Gallery</li>
          <li><a href=""></a>Donations</li>
          <li> <a href=""></a>Events</li>
          <li> <a href=""></a>Contact Us</li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-muted">Copyright &copy; 2020 All Rights Reserved</p>
</footer>
