<div class="row">
  <div class="col-xs-12">
    <img class="img-fluid" src="assets/images/sermon.jpg" alt="" style="height: 400px; object-fit: cover; width: 100%;">
    <div class="centered">
      <h1 class="card-title fs-1 mb-5 text-white">Sermons</h1>
    </div>
  </div>
</div>
<hr>
<div class="container mt-4">
  <div class="row ">
    <div *ngFor="let sermon of sermons" class="col-md-4">
      <div class="card top-card">
        <img [src]="sermon.image" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{sermon.title}}</h5>
          <p class="card-text">{{sermon.sermonText}}</p>
          <div class="container d-flex justify-content-center">
            <button class="btn btn-success btn-lg rounded-pill hide">
              <fa-icon [icon]="faBookBible" class="me-2"></fa-icon>
              <span>Read more...</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
