<div class="mt-4" style="height: 120px;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xsm-12">
      <img src="assets/images/pray.png" alt="" srcset="" style="height:120px;">
    </div>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row mt-4">
    <div class="col-6 mt-4">
      <h3>{{churchTitle}}</h3>
      <address>
        <p>11 Claredon Street</p>
        <p>Avondale heights,Victoria 3034</p>
        You can contact author at: <a href="http://www.somedomain.com/contact">
          {{email}}</a><br>
        Phone:(03)09837643 Fax:(03)3754094509<br>
      </address>
    </div>
    <div class="col-6">
      <div class="card-body shadow">
        <form>
          <!-- Name input -->
          <div class="form-outline mt-4 ">
            <input type="text" placeholder="Name" id="form4Example1" class="form-control"
              onmouseleave="alert('Enter your username here');" />
            <label class="form-label" for="form4Example1"></label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" placeholder="Email address" id="form4Example2" class="form-control" />
            <label class="form-label" for="form4Example2"></label>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea class="form-control" placeholder="Message" id="form4Example3" rows="4"></textarea>
            <label class="form-label" for="form4Example3"></label>
          </div>

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4 mt-4">
            <input class="form-check-input me-2 mt-4" type="checkbox" value="" id="form4Example4" checked />
            <label class="form-check-label" for="form4Example4">
              <span>Send me a copy of this message</span>
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4 mx-2" onSubmit="checkAddress('email');">
            <fa-icon [icon]="faEnvelope" class="me-2"></fa-icon>
            <span>Send</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
