<div style="height: 120px; background-color:#fafafa;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xsm-12 text-center">
      <h1 class="text-center mt-4">{{title}}</h1>
    </div>
  </div>
</div>
<hr>
<div class="container ">
  <div *ngFor="image of images" class="container d-flex justify-content-center">
    <div class="card mb-3" style="max-width :600px">
      <img [src]="images[0].image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{images[0].cardTitle}}</h5>
        <p class="card-text">{{images[0].description}}</p>
        <div class="container d-flex justify-content-center"><button class="btn btn-success btn-lg ">View
            Event</button></div>

      </div>
    </div>
  </div>
</div>
