<carousel [pauseOnFocus]="true">
  <slide>
    <img src="assets/images/evangelism.jpg" alt="First slide" style="display: block; height: 400px; object-fit: cover; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="fs-2">Senior youth</h3>
      <p class="fs-5 lh-lg">“Don’t let anyone look down on you because you are young, but set an example for the believers in speech, in conduct, in love, in faith and in purity.” 1 Timothy 4:12</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/choir.jpeg" alt="Second slide" style="display: block; height: 400px; object-fit: cover; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="fs-2">Mandara choir</h3>
      <p class="fs-5">Psalm 95:1 "Come, let us sing for joy to the LORD; let us shout aloud to the Rock of our salvation."" </p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/youth4.jpg" alt="Third slide" style="display: block; height: 400px; object-fit: cover; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="fs-2">Young adults</h3>
      <p class="fs-5">“Even a child makes himself known by his doings, whether his work is pure, and whether it is right.” Proverbs 20:11</p>
    </div>
  </slide>
</carousel>
<hr>
<div class="container ">
  <div *ngFor="let event of events" class="container d-flex justify-content-center">
    <div class="card mb-3 shadow-lg" style="max-width :600px">
      <img [src]="event.image" class="card-img-top" alt="..." style="height:300px ;">
      <div class="card-body">
        <h5 class="card-title text-center">{{event.cardTitle}}</h5>
        <p class="card-text fs-5">{{event.description}}</p>
        <div class="container d-flex justify-content-center"><button class="btn btn-success btn-lg rounded-pill">
            <fa-icon [icon]="faEye" class="me-2"></fa-icon>
            <span>View</span>
            Event
          </button></div>
      </div>
    </div>
  </div>
</div>
