<!-- <div style="height: 120px;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xsm-12 donation">
      <img src="assets/images/donation.jpg" alt="" srcset="" style="height: 137px ;">
    </div>
  </div>
</div> -->
<!--start of a jumbotron-->
<div class="jumbotron">
  <div>
    <img class="img-fluid" src="assets/images/donation2.jpg" alt="" srcset="" style="obect-fit:cover; height: auto; width: 100%;">
    <!-- <h1 class="display-3">Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
  <!--end of a jumbotron-->
</div>
<hr>
<div class="container">
  <img class="img-fluid" src="assets/images/donation.jpg" style="height: 400px; width: 1110px; " alt="">
  <div class=" mb-4 mt-2">
    <h5 class="font-weight-bold">Leave a comment</h5>
    <div class="col-md-6">
      <div class="card-body shadow">
        <form>
          <!-- Name input -->
          <div class="form-outline mt-4 ">
            <input type="text" placeholder="Name" id="form4Example1" class="form-control"
              onmouseleave="alert('Enter your username here');" />
            <label class="form-label" for="form4Example1"></label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-2">
            <input type="email" placeholder="Email address" id="form4Example2" class="form-control" />
            <label class="form-label" for="form4Example2"></label>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-2">
            <textarea class="form-control" placeholder="Comment" id="form4Example3" rows="4"></textarea>
            <label class="form-label" for="form4Example3"></label>
          </div>
          <!-- Submit button -->
          <div class="container mt-2  ">
            <button type="submit" class="btn btn-warning rounded-pill btn-medium text-center mb-2 mx-2">
              <fa-icon [icon]="faAdd" class="me-2"></fa-icon>
              <span>Add comment</span>
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
