<nav class="navbar navbar-expand-lg">
  <div class="container d-flex justify-content-between">
    <div>
      <a href=""><img width="95px" height="110px" src="assets/images/logo.jpeg" alt="" srcset="" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active ">
          <a class="nav-link text-warning font-weight-bold" routerLink="home">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" routerLink="sermons">Sermons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  font-weight-bold" routerLink="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  font-weight-bold" routerLink="donations">Donations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white   font-weight-bold" routerLink="events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  font-weight-bold" routerLink="contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
