
<!--Start of Carousel-->
<carousel [pauseOnFocus]="true">
  <slide>
    <img src="assets/images/evangelism.jpg" alt="First slide" style="display: block; height: 400px; object-fit: cover; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="fs-2">Young Generation</h3>
      <p class="fs-5 lh-lg">“Don’t let anyone look down on you because you are young, but set an example for the believers in speech, in conduct, in love, in faith and in purity.” 1 Timothy 4:12</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/choir.jpeg" alt="Second slide" style="display: block; height: 400px; object-fit: cover; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="fs-2">Avondale choir</h3>
      <p class="fs-5 ">Psalm 95:1 "Come, let us sing for joy to the LORD; let us shout aloud to the Rock of our salvation.""</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/pastor.jpg" alt="Third slide" style="display: block; height: 400px; object-fit: cover; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="fs-2">Home makers</h3>
      <p class="fs-5">“Even a child makes himself known by his doings, whether his work is pure, and whether it is right.” Proverbs 20:11</p>
    </div>
  </slide>
</carousel>
<!-- End of Carousel -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-lg mx-auto" style="width: 20rem; border-radius: 20px;">
        <img src="assets/images/adventurer.jpg" class="card-img-top" alt="..." style="height: 220px;">
        <div class="card-body">
          <p class="card-text fs-5 text-center">Adventurer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-lg mx-auto" style="width: 20rem; border-radius: 20px;">
        <img src="assets/images/youth.jpg" class="card-img-top" alt="..." style="height: 220px;">
        <div class="card-body">
          <p class="card-text  fs-5 text-center">Pathfinder</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-lg mx-auto" style="width: 20rem; border-radius: 20px;">
        <img src="assets/images/dorcas.jpg" class="card-img-top" alt="..." style="height: 220px;">
        <div class="card-body">
          <p class="card-text fs-5 text-center">Dorcas</p>
        </div>
      </div>
    </div>
  </div>
</div>
  